.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    height: 110px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}
#navtitle {
    font-family: 'Homemade Apple', cursive;
    align-items: center;
    text-align: center;
    z-index: 10;

}
.banner {
    /* background-image: url("banner.png");*/
    background-size: cover;
    background-position: center;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 110px;
    padding-top: 130px;
    font-size: 55px;
    font-family: 'Homemade Apple', cursive;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 0px;
}
.banner2 {
    background-color: white;
    padding: 50px;
    padding-left: 0px;
    line-height: 55px;
    list-style-type: none;
    margin-bottom: 0;
}
#list {
    margin-left: 110px;
}
.title {
    background-color: rgb(223, 217, 217);
    color: #4e4a4a;
    border: 3px solid #c0bebe;
    padding: 10px;
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: inherit
}
.bigbox {
    background-color:rgb(255, 255, 255);
    color: black;
    border: 3px solid #c0bebe;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.smallBox {
    background-color:rgb(255, 255, 255);
    background-image: url("thumbnail1.png");
    background-size: cover;
    background-position: top center;
    width: 350px;
    height: 300px;
    color: black;
    border: 3px solid #c0bebe;
    padding: 0px;
    margin: 10px;
    position: relative;
}
.link {
    background-color: white;
    background-size: 8vh;
    background-attachment: fixed;
    opacity: 0;
    height: 40px;
    width: 350px;
    position: absolute;
    bottom: 0;
    font-weight: 80;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pictureContainer:hover > .link { opacity: 0.9; }

.pictureContainer:hover {
     outline: #9055a1 solid 4px;
     opacity: 0.8;
    }
.font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: inherit  
}

.bottomBar {
    opacity: 0.5;
}
.reviewBox {
    background-color:rgb(255, 255, 255);
    color: black;
    border: 3px solid #c0bebe;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    justify-content: left;
    align-items: left;
}

.content {
    margin-top: 110px;
    margin-bottom: 0px;
    padding: 0px;
}

.star-border {
    position: relative;
    border: none;
  }
  
  .star-border::before, 
  .star-border::after {
    position: absolute;
    content: "★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ";
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 1;
    overflow-wrap: normal;
    white-space: nowrap;
  }
    .star-border::before {
    top: 30px;
    }
    .star-border::after {
        bottom: -2px;
    }
  