.FAQbox {
    padding-top: 20px;
    padding-bottom: 190px;
    font-size: 20px;
    margin: 0;
    font-family: 'Cormorant Infant', serif;
    margin-top: -20px;
}

.FAQfont {
    font-size: 25px;
    font-weight: inherit;
    color: rgb(39, 39, 39);
    line-height: 1.9;
    margin-left: 120px;
    margin-right: 420px;
    font-family: 'Cormorant Infant', serif;

}

.FAQbox ul li{
    margin-bottom: 25px;
}


.FAQtitle {
    color: rgb(39, 39, 39);;
    padding: 10px;
    margin-left: 140px;
    margin-top: 175px;
    font-size: 70px;
    font-family: 'Cormorant Infant', serif;
    font-weight: inherit;
    text-decoration: underline;
}

.crystal {
    height: 280px;
    position: absolute;
}

#crystal1 {
    right: 130px;
    top: 140px;
    transform: rotate(-45deg);
}

#crystal2 {
    height: 220px;
    right: 220px;
    top: 360px;
    transform: rotate(20deg);
}

#crystal3 {
    height: 160px;
    right: 120px;
    top: 420px;
    transform: rotate(-35deg);
}

#crystal4 {
    height: 260px;
    right: 180px;
    top: 540px;
    transform: rotate(45deg);
}

#crystal5 {
    height: 170px;
    right: 150px;
    top: 710px;
    transform: rotate(25deg);
}