.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 2px;
    height: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 30;
    display: flex; /* Added for flexbox */
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    display: flex; /* Added for flexbox */
    text-align: center;
    align-items: center;
    transition: top 0.3s; /* Added for smooth animation */
}

.navbar.hidden {
    top: -120px; /* Hide the navbar by moving it off the screen */
  }  

#navtitle {
    font-family: 'Homemade Apple', cursive;
    align-items: center;
    text-align: center;
    margin-bottom: -8px;
    margin-top: 12px;
    display: flex;
    z-index: 25;
    font-size: 12px;
}

.navbar ul li {
    display: inline-block;/* Adjust the margin-right value to decrease the spacing */
    margin-right: 84px;
    margin-left: 84px;
}

.logo {
    background-image: url('../logo2.png');
    background-size: cover;
    background-position: center;
    width: 110px;
    height: 75px;
    margin-top: -5px;
    display: flex;
    z-index: 20;
}


.navbar ul {
    display: flex; /* Added for flexbox */
    text-align: center;
    align-items: center; /* Added for equal spacing between list items */
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes padding */
    margin: 10px 0px; /* Add margin 0 to remove default spacing */
}

.navbar ul li a {
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
    padding: 8px 30px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    font-size: 17px;
}

.navbar ul li a:hover {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
}

.banner {
    /* background-image: url("banner.png");*/
    background-position: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 40px;
    font-family: 'Homemade Apple', cursive;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 0px;
    border-bottom: 0px;
    background-color:rgb(216, 214, 232);
}


.banner.hidden {
    display: none; /* Hide the banner when it has the hidden class */
  }

.banner2 {
    background-color: white;
    padding: 10px;
    padding-left: 0px;
    line-height: 55px;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    height: 450px;
    font-size: 29px;
    font-weight: inherit;
    color: rgb(38, 38, 38);
}

.list-title {
    float: left;
    margin-left: 660px;
    margin-top: 40px;
    font-weight: 600;
    color: rgb(79, 53, 108);
    font-family:  'Homemade Apple', cursive;
    line-height: 4;
}

.list-title li {
    margin-top: 0;
}

.list {
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'EB Garamond', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 2.7;
}

.list li {
    margin-top: -90px;
    padding: 0;
    display: flex;
    z-index: 11;
    font-size: 25px;
}

.title {
    background-color: rgb(223, 217, 217);
    color: #4e4a4a;
    border: 3px solid #c0bebe;
    padding: 10px;
    margin-top: 0;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    font-weight: inherit;
}
.bigbox {
    background-color:rgb(255, 255, 255);
    color: black;
    border: 3px solid #c0bebe;
    padding: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.smallBox {
    background-color:rgb(255, 255, 255);
    background-image: url("../thumbnails/thumbnail1.png");
    background-size: cover;
    background-position: top center;
    width: 370px;
    height: 300px;
    color: black;
    border: 3px solid #c0bebe;
    padding: 0px;
    margin: 10px 10px 10px 0;
    display: inline-block;
    position: relative;

}
.link {
    background-color: white;
    background-size: 8vh;
    background-attachment: fixed;
    opacity: 0;
    height: 38px;
    width: 370px;
    position: absolute;
    bottom: 0;
    font-weight: 80;
    font-size: 22px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'EB Garamond', serif;
}

.pictureContainer:hover > .link { opacity: 0.9; }

.pictureContainer:hover {
     outline: #9055a1 solid 4px;
     opacity: 0.8;
    }
.font {
    font-size: 29px;
    font-weight: inherit;
    color: rgb(38, 38, 38);
    line-height: 1.9;
}

.bottomBar {
    opacity: 0.5;
}
.reviewBox {
    background-color:rgb(255, 255, 255);
    color: black;
    border: 3px solid #c0bebe;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    justify-content: left;
    align-items: left;
}

.content {
    margin-top: 110px;
    margin-bottom: 0px;
    padding: 0px;
}

.star-border {
    border: none;
    position: relative;
  }
  
  .star-border::before, 
  .star-border::after {
    position: absolute;
    content: "★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ";
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 1;
    overflow-wrap: normal;
    white-space: nowrap;
  }

    .star-border::before {
    top: 17px;

    }
    .star-border::after {
    bottom: 5px;
    }

.contact{
    padding-left: 150px;
    font-size: 25px;
    line-height: 1.9;
    font-family: 'EB Garamond', serif;
}
  
.FAQbox {
    background-color: white;
    margin: 100px;
    padding: 0px;
}

.image-wrapper {
    display: flex;
    z-index: 5;
    position: absolute;
    margin-left: 140px;
    margin-top: 40px;
  }
  
  .shadowed-image {
    filter: drop-shadow(0 0 9px rgba(14, 11, 20, 0.85));
    height: 100px;
    width: 300px;
  }
  
  .star {
    color: rgb(251, 242, 174);
    -webkit-text-stroke: 2px black;
  }