.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 0px;
    height: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 30;
    display: flex; /* Added for flexbox */
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    display: flex; /* Added for flexbox */
    text-align: center;
    align-items: center;
    transition: top 0.3s; /* Added for smooth animation */
}

.navbar.hidden {
    top: -90px; /* Hide the navbar by moving it off the screen */
  }  

#navtitle {
    font-family: 'Homemade Apple', cursive;
    align-items: center;
    text-align: center;
    margin-bottom: -8px;
    margin-top: 12px;
    display: flex;
    z-index: 25;
    font-size: 8px;
}

.navbar ul li {
    display: inline-block;/* Adjust the margin-right value to decrease the spacing */
    margin-left: -5px;
    margin-right: -5px;
}

.logo {
    background-image: url('../logo2.png');
    background-size: cover;
    background-position: center;
    width: 55px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    z-index: 20;
}


.navbar ul {
    display: flex; /* Added for flexbox */
    text-align: center;
    align-items: center; /* Added for equal spacing between list items */
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes padding */
    margin: 2px 0px; /* Add margin 0 to remove default spacing */
}

.navbar ul li a {
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
    padding: 8px 30px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    font-size: 10px;
}

.navbar ul li a:hover {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
}

.banner {
    /* background-image: url("banner.png");*/
    background-position: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 30px;
    font-family: 'Homemade Apple', cursive;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 0px;
    border-bottom: 0px;
    background-color: none;
    line-height: 2;
}


.banner.hidden {
    display: none; /* Hide the banner when it has the hidden class */
  }

.banner2 {
    background-color: none;
    padding: 10px;
    padding-left: 10px;
    line-height: 1;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    height: 440px;
    font-size: 20px;
    font-weight: inherit;
    color: rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.list-title {
    margin-left: 0px;
    margin-top: 230px;
    font-weight: 600;
    color: rgb(79, 53, 108);
    font-family:  'Homemade Apple', cursive;
    line-height: 3;
    display: flex;
    flex-direction: column;
}

.list-title li {
    margin-top: 0;
}

.list {
    font-family: 'EB Garamond', serif;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    line-height: 0.8;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 9;
    margin-left: 40px;
}

.list li {
    margin-top: 1px;
    padding: 0;
    display: flex;
    z-index: 11;
    font-size: 11px;
}

.title {
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 0px;
    font-size: 30px;
    font-family: 'Cormorant Infant', serif;
    font-weight: inherit;
    text-decoration: underline;
    text-align: center;
}
.bigbox {
    color: black;
    border: 3px solid (115, 115, 115);
    padding: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.smallBox {
    background-color:rgb(255, 255, 255);
    background-image: url("../thumbnails/thumbnail1.png");
    background-size: cover;
    background-position: top center;
    width: 370px;
    height: 300px;
    color: black;
    border: 3px solid #c0bebe;
    padding: 0px;
    margin: 10px 10px 10px 0;
    display: inline-block;
    position: relative;

}
.link {
    background-color: white;
    background-size: 8vh;
    background-attachment: fixed;
    opacity: 0;
    height: 38px;
    width: 370px;
    position: absolute;
    bottom: 0;
    font-weight: 80;
    font-size: 22px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'EB Garamond', serif;
}

.pictureContainer:hover > .link { opacity: 0.9; }

.pictureContainer:hover {
     outline: #9055a1 solid 4px;
     opacity: 0.8;
    }
.font {
    font-size: 29px;
    font-weight: inherit;
    color: rgb(38, 38, 38);
    line-height: 1.9;
}

.bottomBar {
    opacity: 0.5;
}
.reviewBox {
    background-color:rgb(255, 255, 255);
    color: black;
    border: 3px solid #c0bebe;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    justify-content: left;
    align-items: left;
}

.content {
    margin-top: 90px;
    margin-bottom: 0px;
    padding: 0px;
}

.star-border {
    border: none;
    position: relative;
  }
  
  .star-border::before, 
  .star-border::after {
    position: absolute;
    content: "★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ";
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 1;
    overflow-wrap: normal;
    white-space: nowrap;
  }

    .star-border::before {
    top: 8px;

    }
    .star-border::after {
    bottom: 5px;
    }

.contact{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.9;
    font-family: 'EB Garamond', serif;
}
  
.FAQbox {
    background-color: white;
    margin: 100px;
    padding: 0px;
}

.image-wrapper {
    display: flex;
    z-index: 5;
    position: relative;
    text-align: center;
    align-items: center;
    margin-top: -390px;
  }
  #cloud {
    z-index: 4;
    left: 50%;
  }
  
  .shadowed-image {
    filter: drop-shadow(0 0 4px rgba(14, 11, 20, 0.85));
    height: 180px;
    width: 490px;
  }
  
  .star {
    color: rgb(251, 242, 174);
    -webkit-text-stroke: 2px black;
  }

  .popularlistings {
    /* border-bottom: 5px solid rgb(149, 146, 156);
    border-top: 5px solid rgb(149, 146, 156);*/
    padding-top: 4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45); /* Adjust the shadow properties */
    transform: translateZ(10px);
    background-color: #efeef1;
  }

  #contact-title {
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 40px;
    text-decoration: none;
    margin-right: 0px;
    padding: 0px;
    text-align: center !important;
    line-height: 1;
    display: block;
    color: rgb(38, 38, 38);
  }

  #banner {
    background-color: #e8e2e8;
    color: #3c354a;
    font-size: 50px;
  }

  #banner1 {
    max-width: 100%;
    height: auto;
    padding: 0px;
    background-position: center;
    background-size: cover;
  }

  
  a {
    color: rgb(38, 38, 38);
}